<div id= <%= job.id %>>
  <div class="manager-resumes-item">

    <div class="manager-content">
      <div class="manager-info">
        <div class="manager-name">
          <h4><%= link_to job.title, job_path(job.id) %></h4> 
          <h5><%= job.position %></h5>
        </div>
        <div class="manager-meta">
          <span class="rate"><%= t("annual_salary") + " " + job.annual_salary.to_s %><i class="fa fa-dollar"></i></span>
        </div>
      </div>
    </div>
    <div class="update-date">
      <p class="status">
        <%= t("created_at") + format_date_default(job.created_at).to_s  %>
      </p>
      <div class="action-btn">
        <%= link_to t("edit"), edit_job_path(id: job.id), remote: true, class:"btn btn-xs btn-gray" %>
        <%= link_to t("delete"), job, method: :delete, data: {confirm: "Are you sure?", remote: true}, class: "btn btn-xs btn-danger" %>
      </div>
    </div>
    
  </div>
</div>
