<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="breadcrumb-wrapper">
          <% if @job.company_logo.attached? %>
            <%= image_tag(@job.company_logo, class: "img-wrapper")%>
          <% else %>
            <%= image_tag('features/img2.png', class: "img-wrapper") %>
          <% end%>
          <div class="content">
            <h3 class="product-title"><%= @job.title %></h3>
            <p class="brand"><%= @job.company_name %></p>
            <div class="tags">
              <span><i class="fa fa-id-card"></i> <%= @job.position %></span>
              <span><i class="fa fa-map-marker"></i> <%= @job.workplace %></span>
              <span><i class="fa fa-users"></i> <%= @job.quantity %> open position</span>
            </div>
          </div>
          <div class="content">
            <div class="counter" data-counterup-time="1500" data-counterup-delay="30" data-counterup-beginat="100"><%= @job.annual_salary.to_i %></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="content">
          <p class="brand benefit-section"><%= t "benefit" %></p>
          <div class="tags">
            <% @job.benefits.each_slice(2) do |benefits| %>
              <div class="row">
                <% benefits.each do |benefit| %>
                  <div class= "col-md-6">
                    <span><i class="<%= benefit.icon_class%> fa-fw green-icon"></i> <%= benefit.tag %></span>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12">
        <%= link_to 'Apply', new_apply_path(job_id: @job.id),  
          {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn-oubo'}  %>
      </div>
    </div>
  </div>
</div>
<section class="job-detail section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="content-area">
          <h5><%= t "annual_salary" %></h5>
          <div>$<%= @job.annual_salary %></div>
          <h5><%= t "job_description" %></h5>
          <%= simple_format @job.description %>
          <h5><%= t "job_requirement" %></h5>
          <p><%= simple_format @job.requirement %></p>
          <h5><%= t "deadline" %></h5>
          <p><%= format_date_default @job.deadline %></p>
          <div class= row>
            <%= link_to '応募', new_apply_path(job_id: @job.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-common'}  %>
            <%= link_to like_job_path(@job), method: :put, class: "btn btn-info btn-bookmark" do %>
              気になる
              <%= @job.get_upvotes.size %>
            <% end %>
            <% if current_user.liked? @job %>
              <%= link_to "", like_job_path(@job), remote: true,
                        id: "like_#{@job.id}",
                        class: "fa fa-heart",
                        method: :put %>
            <% else %>
              <%= link_to "", like_job_path(@job), remote: true,
                        id: "like_#{@job.id}",
                        class: "fa fa-heart-o",
                        method: :put %>
            <% end %>
          </div>
        </div>
      </div>
      <div id="modal-window" class="modal hide" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="sideber">
          <div class="widghet">
            <% 
=begin %>
            <% if @job.company_logo.attached? %>
              <%= image_tag(@job.company_logo, class: "img-about-section")%>
            <% else %>
              <%= image_tag('features/img2.png', class: "img-about-section")%>
            <% end %>
            <% 
=end %>
            <h3>About <%= @job.company_name %></h3>
            <p><i class="fa fa-map-marker fa-fw green-icon"></i> <%= @job.company_address %></p>
            <p><i class="fa fa-group fa-fw green-icon"></i> <%= @job.company_scale %> 社員</p>
            <p><i class="fa fa-internet-explorer fa-fw green-icon"></i> <%= @job.company_website %></p>
            <p><i class="fa fa-info fa-fw green-icon"></i> <%= truncate @job.company_description, length: 200 %></p>
            <%= link_to 'read more', company_path(@job.company.id) %>
          </div>
          <div class="widghet">
            <h3><%= t "job_location" %></h3>
            <div class="maps">
              <div id="map" class="map-full">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d405691.57240383344!2d-122.3212843181106!3d37.40247298383319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb68ad0cfc739%3A0x7eb356b66bd4b50e!2sSilicon+Valley%2C+CA%2C+USA!5e0!3m2!1sen!2sbd!4v1538319316724" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
          <div class="widghet">
            <h3><%= t "share_job" %></h3>
            <div class="share-job">
              <form method="post" class="subscribe-form">
                <div class="form-group">
                  <input type="email" name="Email" class="form-control" placeholder="https://joburl.com" required="">
                  <button type="submit" name="subscribe" class="btn btn-common sub-btn"><i class="lni-files"></i></button>
                  <div class="clearfix"></div>
                </div>
              </form>
              <ul class="mt-4 footer-social">
                <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
              </ul>
              <div class="meta-tag">
                <span class="meta-part"><a href="#"><i class="lni-star"></i><%= t "write_review" %></a></span>
                <span class="meta-part"><a href="#"><i class="lni-warning"></i><%= t "report" %></a></span>
                <span class="meta-part"><a href="#"><i class="lni-share"></i><%= t "share" %></a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="featured" class="section bg-gray pb-45">
  <div class="container">
    <h4 class="small-title text-left"><%= t "similar_job" %></h4>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag 'features/img1.png' %>
          </div>
          <div class="content">
            <h3><a href="job-page.html">Software Engineer</a></h3>
            <p class="brand">MizTech</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag 'features/img2.png' %>
          </div>
          <div class="content">
            <h3><a href="job-page.html">Graphic Designer</a></h3>
            <p class="brand">Hunter Inc.</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="part-time">Part Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag 'features/img3.png' %>
          </div>
          <div class="content">
            <h3><a href="job-page.html">Managing Director</a></h3>
            <p class="brand">MagNews</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $('.counter').counterUp({
      delay: 10,
      time: 2000,
      offset: 70,
      beginAt: 100,
      formatter: function (n) {
        return n.replace(/,/g, '.');
      }
  });
</script>
