<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
<header id="home" class="hero-area">
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
    <div class="container">
      <div class="theme-header clearfix">
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="lni-menu"></span>
            <span class="lni-menu"></span>
            <span class="lni-menu"></span>
          </button>
          <a href="index.html" class="navbar-brand"><%= image_tag("logo.png") %></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="contact.html">
                <%= t "home" %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">
                <%= t "job" %>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t "company" %>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="browse-jobs.html">Browse Jobs</a></li>
                <li><a class="dropdown-item" href="browse-categories.html">Browse Categories</a></li>
                <li><a class="dropdown-item" href="add-resume.html">Add Resume</a></li>
                <li><a class="dropdown-item" href="manage-resumes.html">Manage Resumes</a></li>
                <li><a class="dropdown-item" href="job-alerts.html">Job Alerts</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t "blog" %>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="post-job.html">Add Job</a></li>
                <li><a class="dropdown-item" href="manage-jobs.html">Manage Jobs</a></li>
                <li><a class="dropdown-item" href="manage-applications.html">Manage Applications</a></li>
                <li><a class="dropdown-item" href="browse-resumes.html">Browse Resumes</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t "contact" %>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="blog.html">Blog - Right Sidebar</a></li>
                <li><a class="dropdown-item" href="blog-left-sidebar.html">Blog - Left Sidebar</a></li>
                <li><a class="dropdown-item" href="blog-full-width.html"> Blog full width</a></li>
                <li><a class="dropdown-item" href="single-post.html">Blog Single Post</a></li>
              </ul>
            </li>
            <li class="button-group">
              <%= link_to t("signin"), new_user_session_path, class: "button btn btn-common" %>
            </li>
            <li class="button-group">
              <%= link_to t("signup"), new_user_registration_path, class: "button btn btn-common" %>
            </li>
            <% if current_user.present? %>
              <li class="button-group">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button btn btn-common" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-menu" data-logo=<%= image_path("logo-mobile.png") %>></div>
  </nav>
  <div id="carousel-area">
    <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-slider" data-slide-to="1"></li>
        <li data-target="#carousel-slider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <%= image_tag("slider/bg-1.jpg") %>
          <div class="carousel-caption text-left">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="wow fadeInRight" data-wow-delay="0.4s">Find the career you <br>
                   deserve</h2>
                <p class="wow fadeInRight" data-wow-delay="0.6s">Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. <br>
                   Vestibulum congue posuere lacus, id tincidunt nisi porta sit amet.</p>
                <a href="#" class="btn btn-lg btn-common btn-effect wow fadeInRight" data-wow-delay="0.9s">See our jobs</a>
                <a href="#" class="btn btn-lg btn-border wow fadeInRight" data-wow-delay="1.2s">Search jobs</a>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                <div class="img-wrapper wow fadeInUp" data-wow-delay="0.6s">
                  <%= image_tag("slider/img-1.png") %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("slider/bg-1.jpg") %>
          <div class="carousel-caption text-left">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="wow fadeInUp" data-wow-delay="0.4s">10000+ Jobs waiting <br>
                  for you!</h2>
                <p class="wow fadeInUp" data-wow-delay="0.6s">Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. <br>
                   Vestibulum congue posuere lacus, id tincidunt nisi porta sit amet.</p>
                <a href="#" class="btn btn-lg btn-common btn-effect wow fadeInUp" data-wow-delay="0.9s">See our jobs</a>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                <div class="img-wrapper wow fadeInUp" data-wow-delay="0.6s">
                  <%= image_tag("slider/img-2.png") %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("slider/bg-1.jpg") %>
          <div class="carousel-caption text-left">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="wow fadeInRight" data-wow-delay="0.4s">Post a job and hunt <br>
                   amazing talents</h2>
                <p class="wow fadeInRight" data-wow-delay="0.6s">Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. <br>
                   Vestibulum congue posuere lacus, id tincidunt nisi porta sit amet.</p>
                <a href="#" class="btn btn-lg btn-common btn-effect wow fadeInRight" data-wow-delay="0.9s">Create Account</a>
                <a href="#" class="btn btn-lg btn-border wow fadeInRight" data-wow-delay="1.2s">Post Job</a>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                <div class="img-wrapper wow fadeInUp" data-wow-delay="0.6s">
                  <%= image_tag("slider/img-3.png") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
        <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-left"></i></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
        <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right"></i></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</header>
<section class="browse-catagories section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Browse by Catagories</h2>
      <p>As the world's #1 job site, with over 200 million unique visitors every month from over 60 different countries</p>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <a href="browse-categories.html" class="img-box">
          <div class="img-box-content">
            <h4>Healthcare</h4>
            <span>3420 Jobs</span>
          </div>
          <div class="img-box-background">
            <%= image_tag("catagories/img1.jpg", class:"img-fluid") %>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <a href="browse-categories.html" class="img-box">
              <div class="img-box-content">
                <h4>Education</h4>
                <span>2379 Jobs</span>
              </div>
              <div class="img-box-background">
                <%= image_tag("catagories/img2.jpg", class:"img-fluid") %>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <a href="browse-categories.html" class="img-box">
              <div class="img-box-content">
                <h4>Business</h4>
                <span>1560 Jobs</span>
              </div>
              <div class="img-box-background">
                <%= image_tag("catagories/img3.jpg", class:"img-fluid") %>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <a href="browse-categories.html" class="img-box">
              <div class="img-box-content">
                <h4>Finance</h4>
                <span>2000 Jobs</span>
              </div>
              <div class="img-box-background">
                <%= image_tag("catagories/img4.jpg", class:"img-fluid") %>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <a href="browse-categories.html" class="img-box">
              <div class="img-box-content">
                <h4>Support</h4>
                <span>3340 Jobs</span>
              </div>
              <div class="img-box-background">
                <%= image_tag("catagories/img5.jpg", class:"img-fluid") %>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12">
        <a href="browse-categories.html" class="img-box">
          <div class="img-box-content">
            <h4>Law</h4>
            <span>1200 Jobs</span>
          </div>
          <div class="img-box-background">
            <%= image_tag("catagories/img6.jpg", class:"img-fluid") %>
          </div>
        </a>
      </div>
      <div class="col-12 text-center mt-4">
        <a href="#" class="btn btn-common">browse more</a>
      </div>
    </div>
  </div>
</section>
<section id="featured" class="section bg-cyan">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Featured Jobs</h2>
      <p>As the world's #1 job site, with over 200 million unique visitors every month from over 60 different countries</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img1.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Software Engineer</a></h3>
            <p class="brand">MizTech</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img2.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Graphic Designer</a></h3>
            <p class="brand">Hunter Inc.</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="part-time">Part Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img3.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Managing Director</a></h3>
            <p class="brand">MagNews</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img4.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Software Engineer</a></h3>
            <p class="brand">AmazeSoft</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img5.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Graphic Designer</a></h3>
            <p class="brand">Bingo</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="part-time">Part Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img6.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Managing Director</a></h3>
            <p class="brand">MagNews</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-4">
        <a href="job-page.html" class="btn btn-common">Browse All Jobs</a>
      </div>
    </div>
  </div>
</section>
<section class="featured-lis section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Top Hiring Companies</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br>
         metus effici turac fringilla lorem facilisis.</p>
    </div>
    <div class=" wow fadeIn" data-wow-delay="0.5s">
      <div id="new-products" class="owl-carousel">
        <div class="item">
          <div class="product-item">
            <div class="icon-thumb">
              <%= image_tag("product/img1.png") %>
            </div>
            <div class="product-content">
              <h3 class="product-title"><a href="#">AmazeTech</a></h3>
              <div class="tags">
                <span><i class="lni-briefcase"></i> Software Company</span>
                <span><i class="lni-map-marker"></i> New York</span>
              </div>
              <a href="#" class="btn btn-common">5 Open Job</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="product-item">
            <div class="icon-thumb">
              <%= image_tag("product/img2.png") %>
            </div>
            <div class="product-content">
              <h3 class="product-title"><a href="#">MagNews</a></h3>
              <div class="tags">
                <span><i class="lni-briefcase"></i> Software Company</span>
                <span><i class="lni-map-marker"></i> New York</span>
              </div>
              <a href="#" class="btn btn-common">5 Open Job</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="product-item">
            <div class="icon-thumb">
              <%= image_tag("product/img3.png") %>
            </div>
            <div class="product-content">
              <h3 class="product-title"><a href="#">Facebook</a></h3>
              <div class="tags">
                <span><i class="lni-briefcase"></i> Software Company</span>
                <span><i class="lni-map-marker"></i> New York</span>
              </div>
              <a href="#" class="btn btn-common">5 Open Job</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="product-item">
            <div class="icon-thumb">
              <%= image_tag("product/img1.png") %>
            </div>
            <div class="product-content">
              <h3 class="product-title"><a href="#">Play Store</a></h3>
              <div class="tags">
                <span><i class="lni-briefcase"></i> Software Company</span>
                <span><i class="lni-map-marker"></i> New York</span>
              </div>
              <a href="#" class="btn btn-common">5 Open Job</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="product-item">
            <div class="icon-thumb">
              <%= image_tag("product/img2.png") %>
            </div>
            <div class="product-content">
              <h3 class="product-title"><a href="#">MagNews</a></h3>
              <div class="tags">
                <span><i class="lni-briefcase"></i> Software Company</span>
                <span><i class="lni-map-marker"></i> New York</span>
              </div>
              <a href="#" class="btn btn-common">5 Open Job</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="job-listings" class="section bg-cyan">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Recent Job Post</h2>
      <p>As the world's #1 job site, with over 200 million unique visitors every month from over 60 different countries</p>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <a class="job-listings" href="job-details.html">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="job-company-logo">
                <%= image_tag("features/img1.png") %>
              </div>
              <div class="job-details">
                <h3>App Developer</h3>
                <span class="company-neme">
                  AmazeSoft
                </span>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-center">
              <span class="btn-open">
                7 Open Jobs
              </span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <div class="location">
                <i class="lni-map-marker"></i> New Yourk, US
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-full-time">Full Time</span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-apply">Apply Now</span>
            </div>
          </div>
        </a>
        <a class="job-listings" href="job-details.html">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="job-company-logo">
                <%= image_tag("features/img2.png") %>
              </div>
              <div class="job-details">
                <h3>App Developer</h3>
                <span class="company-neme">
                  AmazeSoft
                </span>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-center">
              <span class="btn-open">
                7 Open Jobs
              </span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <div class="location">
                <i class="lni-map-marker"></i> New Yourk, US
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-full-time">Full Time</span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-apply">Apply Now</span>
            </div>
          </div>
        </a>
        <a class="job-listings" href="job-details.html">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="job-company-logo">
                <%= image_tag("features/img3.png") %>
              </div>
              <div class="job-details">
                <h3>App Developer</h3>
                <span class="company-neme">
                  AmazeSoft
                </span>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-center">
              <span class="btn-open">
                7 Open Jobs
              </span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <div class="location">
                <i class="lni-map-marker"></i> New Yourk, US
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-full-time">Full Time</span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-apply">Apply Now</span>
            </div>
          </div>
        </a>
        <a class="job-listings" href="job-details.html">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="job-company-logo">
                <%= image_tag("features/img4.png") %>
              </div>
              <div class="job-details">
                <h3>App Developer</h3>
                <span class="company-neme">
                  AmazeSoft
                </span>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-center">
              <span class="btn-open">
                7 Open Jobs
              </span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <div class="location">
                <i class="lni-map-marker"></i> New Yourk, US
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-full-time">Full Time</span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-apply">Apply Now</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 text-center mt-4">
        <a href="#" class="btn btn-common">Load more listing</a>
      </div>
    </div>
  </div>
</section>
<section class="how-it-works section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">How It Works?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br>
         metus effici turac fringilla lorem facilisis.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
        <div class="work-process">
          <span class="process-icon">
            <i class="lni-user"></i>
          </span>
          <h4>Create an Account</h4>
          <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="work-process step-2">
          <span class="process-icon">
            <i class="lni-search"></i>
          </span>
          <h4>Search Jobs</h4>
          <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="work-process step-3">
          <span class="process-icon">
            <i class="lni-cup"></i>
          </span>
          <h4>Apply</h4>
          <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="pricing" class="section bg-gray">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Pricing Plan</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br>
        metus effici turac fringilla lorem facilisis.</p>
    </div>
    <div class="row pricing-tables">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table border-color-defult">
          <div class="pricing-details">
            <div class="icon">
              <i class="lni-rocket"></i>
            </div>
            <h2>Professional</h2>
            <ul>
              <li>Post 1 Job</li>
              <li>No Featured Job</li>
              <li>Edit Your Job Listing</li>
              <li>Manage Application</li>
              <li>30-day Expired</li>
            </ul>
            <div class="price"><span>$</span>0<span>/Month</span></div>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-border">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table pricing-active border-color-red">
          <div class="pricing-details">
            <div class="icon">
              <i class="lni-drop"></i>
            </div>
            <h2>Advance</h2>
            <ul>
              <li>Post 1 Job</li>
              <li>No Featured Job</li>
              <li>Edit Your Job Listing</li>
              <li>Manage Application</li>
              <li>30-day Expired</li>
            </ul>
            <div class="price"><span>$</span>20<span>/Month</span></div>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-border">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table border-color-green">
          <div class="pricing-details">
            <div class="icon">
              <i class="lni-briefcase"></i>
            </div>
            <h2>Premium</h2>
            <ul>
              <li>Post 1 Job</li>
              <li>No Featured Job</li>
              <li>Edit Your Job Listing</li>
              <li>Manage Application</li>
              <li>30-day Expired</li>
            </ul>
            <div class="price"><span>$</span>40<span>/Month</span></div>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-border">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="featured" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Featured Jobs</h2>
      <p>Hand-picked jobs featured depending on popularity and benifits</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img1.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Software Engineer</a></h3>
            <p class="brand">MizTech</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img2.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Graphic Designer</a></h3>
            <p class="brand">Hunter Inc.</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="part-time">Part Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img3.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Managing Director</a></h3>
            <p class="brand">MagNews</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img4.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Software Engineer</a></h3>
            <p class="brand">AmazeSoft</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img5.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Graphic Designer</a></h3>
            <p class="brand">Bingo</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="part-time">Part Time</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="job-featured">
          <div class="icon">
            <%= image_tag("features/img6.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Managing Director</a></h3>
            <p class="brand">MagNews</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-4">
        <a href="job-page.html" class="btn btn-common">Browse All Jobs</a>
      </div>
    </div>
  </div>
</section>
<div id="apply">
  <div class="container-fulid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12 no-padding">
        <div class="recruiter item-box">
          <div class="content-inner">
            <h5>I'm</h5>
            <h3>Recruiter</h3>
            <p>Post a job to tell us about your project. We'll quickly match you with <br>
               the right freelancers find place best.</p>
            <a href="#" class="btn btn-border-filled">Post a Job</a>
          </div>
          <div class="img-thumb">
            <i class="lni-users"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12 no-padding">
        <div class="jobseeker item-box">
          <div class="content-inner">
            <h5>I'm</h5>
            <h3>Jobseeker!</h3>
            <p>Post a job to tell us about your project. We'll quickly match you with <br>
               the right freelancers find place best.</p>
            <a href="#" class="btn btn-border-filled">Browser Jobs</a>
          </div>
          <div class="img-thumb">
            <i class="lni-leaf"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="pricing" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Pricing Plan</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br>
         metus effici turac fringilla lorem facilisis.</p>
    </div>
    <div class="row pricing-tables">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table border-color-defult">
          <div class="pricing-details">
            <div class="icon">
              <i class="lni-rocket"></i>
            </div>
            <h2>Professional</h2>
            <ul>
              <li>Post 1 Job</li>
              <li>No Featured Job</li>
              <li>Edit Your Job Listing</li>
              <li>Manage Application</li>
              <li>30-day Expired</li>
            </ul>
            <div class="price"><span>$</span>0<span>/Month</span></div>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-border">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table pricing-active border-color-red">
          <div class="pricing-details">
            <div class="icon">
              <i class="lni-drop"></i>
            </div>
            <h2>Advance</h2>
            <ul>
              <li>Post 1 Job</li>
              <li>No Featured Job</li>
              <li>Edit Your Job Listing</li>
              <li>Manage Application</li>
              <li>30-day Expired</li>
            </ul>
            <div class="price"><span>$</span>20<span>/Month</span></div>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-border">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table border-color-green">
          <div class="pricing-details">
            <div class="icon">
              <i class="lni-briefcase"></i>
            </div>
            <h2>Premium</h2>
            <ul>
              <li>Post 1 Job</li>
              <li>No Featured Job</li>
              <li>Edit Your Job Listing</li>
              <li>Manage Application</li>
              <li>30-day Expired</li>
            </ul>
            <div class="price"><span>$</span>40<span>/Month</span></div>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-border">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="counter" class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="counter-box">
          <div class="icon"><i class="lni-home"></i></div>
          <div class="fact-count">
            <h3><span class="counter">800</span></h3>
            <p>Jobs Posted</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="counter-box">
          <div class="icon"><i class="lni-briefcase"></i></div>
          <div class="fact-count">
            <h3><span class="counter">80</span></h3>
            <p>All Companies</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="counter-box">
          <div class="icon"><i class="lni-pencil-alt"></i></div>
          <div class="fact-count">
            <h3><span class="counter">900</span></h3>
            <p>Resumes</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="counter-box">
          <div class="icon"><i class="lni-save"></i></div>
          <div class="fact-count">
            <h3><span class="counter">1200</span></h3>
            <p>Applications</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="blog" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Blog Post</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br>
         metus effici turac fringilla lorem facilisis.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <%= image_tag("blog/img1.jpg") %>
            </a>
          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">Tips to write an impressive resume online for beginner</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.</p>
          </div>
          <a class="readmore" href="#">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <%= image_tag("blog/img2.jpg") %>
            </a>
          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">Let's explore 5 cool new features in JobBoard theme</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.</p>
          </div>
          <a class="readmore" href="#">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <%= image_tag("blog/img3.jpg") %>
            </a>
          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">How to convince recruiters and get your dream job</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.</p>
          </div>
          <a class="readmore" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="subscribe" class="section bg-cyan">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="subscribe-form">
          <div class="form-wrapper">
            <div class="sub-title">
              <h3>Subscribe Our Newsletter</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et metus dolor sit amet,.</p>
            </div>
            <form>
              <div class="row">
                <div class="col-12 form-line">
                  <div class="form-group form-search">
                    <input type="email" class="form-control" name="email" placeholder="Enter Your Email">
                    <button type="submit" class="btn btn-common btn-search">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="img-sub">
          <%= image_tag("sub.png", class: "img-fluid") %>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="widget">
            <div class="footer-logo mb-2"><%= image_tag("logo.png") %></div>
            <div class="textwidget">
              <p>Sed consequat sapien faus quam bibendum convallis quis in nulla. Pellentesque volutpat odio eget diam cursus semper.</p>
            </div>
            <ul class="mt-3 footer-social">
              <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
              <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
              <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
              <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Quick Links</h3>
            <ul class="menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">License</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">All Navigation</h3>
            <ul class="menu">
              <li><a href="#">Front-end Design</a></li>
              <li><a href="#">Android Developer</a></li>
              <li><a href="#">CMS Development</a></li>
              <li><a href="#">IOS Developer</a></li>
              <li><a href="#">Iphone Developer</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Address</h3>
            <ul class="contact-list">
              <li><i class="lni-phone-handset"></i> <span>+880- 123-456-789 <br>
                   +880- 123-456-789 </span></li>
              <li><i class="lni-envelope"></i> <span>contact@shopr.com info@shopr.com</span></li>
              <li><i class="lni-map-marker"></i> <span>9923 South Avenue Street, New York City.</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info text-center">
            <p>Designed and Developed by <a href="https://uideck.com/" rel="nofollow">UIdeck</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>
<>
