<%= render "layouts/header" %>

<header id="home" class="hero-area">
  <div class="container">
    <div class="row space-100">
      <div class="col-lg-7 col-md-12 col-xs-12">
        <div class="contents">
          <h2 class="head-title"><%= t ".content0" %> <br>
            <%= t ".content1" %></h2>
          <p><%= t ".content2" %></p>
          <div class="job-search-form">
            <form>
              <div class="row">
                <div class="col-lg-5 col-md-5 col-xs-12">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Job Title or Company Name">
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12">
                  <div class="form-group">
                    <div class="search-category-container">
                      <label class="styled-select">
                        <select>
                          <option value="none">Locations</option>
                          <option value="none">New York</option>
                          <option value="none">California</option>
                          <option value="none">Washington</option>
                          <option value="none">Birmingham</option>
                          <option value="none">Chicago</option>
                          <option value="none">Phoenix</option>
                        </select>
                      </label>
                    </div>
                    <i class="lni-map-marker"></i>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-12">
                  <button type="submit" class="button"><i class="lni-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="intro-img">
          <%= image_tag("intro.png") %>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="category section bg-gray">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Browse Categories</h2>
      <p>Most popular categories of portal, sorted by popularity</p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-1">
            <i class="lni-home"></i>
          </div>
          <h3>Finance</h3>
          <p>(4286 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-2">
            <i class="lni-world"></i>
          </div>
          <h3>Sale/Markting</h3>
          <p>(2000 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-3">
            <i class="lni-book"></i>
          </div>
          <h3>Education/Training</h3>
          <p>(1450 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-4">
            <i class="lni-display"></i>
          </div>
          <h3>Technologies</h3>
          <p>(5100 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-5">
            <i class="lni-brush"></i>
          </div>
          <h3>Art/Design</h3>
          <p>(5079 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-6">
            <i class="lni-heart"></i>
          </div>
          <h3>Healthcare</h3>
          <p>(3235 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-7">
            <i class="lni-funnel"></i>
          </div>
          <h3>Science</h3>
          <p>(1800 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-8">
            <i class="lni-cup"></i>
          </div>
          <h3>Food Services</h3>
          <p>(4286 jobs)</p>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="job-listings" class="section bg-cyan">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Recent Job Post</h2>
      <p>As the world's #1 job site, with over 200 million unique visitors every month from over 60 different countries</p>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <a class="job-listings" href="job-details.html">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="job-company-logo">
                <%= image_tag("features/img1.png") %>
              </div>
              <div class="job-details">
                <h3>App Developer</h3>
                <span class="company-neme">
                  AmazeSoft
                </span>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-center">
              <span class="btn-open">
                7 Open Jobs
              </span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <div class="location">
                <i class="lni-map-marker"></i> New Yourk, US
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-full-time">Full Time</span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-apply">Apply Now</span>
            </div>
          </div>
        </a>
        <a class="job-listings" href="job-details.html">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="job-company-logo">
                <%= image_tag("features/img2.png") %>
              </div>
              <div class="job-details">
                <h3>App Developer</h3>
                <span class="company-neme">
                  AmazeSoft
                </span>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-center">
              <span class="btn-open">
                7 Open Jobs
              </span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <div class="location">
                <i class="lni-map-marker"></i> New Yourk, US
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-full-time">Full Time</span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-apply">Apply Now</span>
            </div>
          </div>
        </a>
        <a class="job-listings" href="job-details.html">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="job-company-logo">
                <%= image_tag("features/img3.png") %>
              </div>
              <div class="job-details">
                <h3>App Developer</h3>
                <span class="company-neme">
                  AmazeSoft
                </span>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-center">
              <span class="btn-open">
                7 Open Jobs
              </span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <div class="location">
                <i class="lni-map-marker"></i> New Yourk, US
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-full-time">Full Time</span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-apply">Apply Now</span>
            </div>
          </div>
        </a>
        <a class="job-listings" href="job-details.html">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="job-company-logo">
                <%= image_tag("features/img4.png") %>
              </div>
              <div class="job-details">
                <h3>App Developer</h3>
                <span class="company-neme">
                  AmazeSoft
                </span>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-center">
              <span class="btn-open">
                7 Open Jobs
              </span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <div class="location">
                <i class="lni-map-marker"></i> New Yourk, US
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-full-time">Full Time</span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 text-right">
              <span class="btn-apply">Apply Now</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 text-center mt-4">
        <a href="#" class="btn btn-common">Load more listing</a>
      </div>
    </div>
  </div>
</section>

<section id="latest-jobs" class="section bg-gray">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Latest Jobs</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br>
        metus effici turac fringilla lorem facilisis.</p>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="jobs-latest">
          <div class="img-thumb">
            <%= image_tag("features/img1.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">UX Designer</a></h3>
            <p class="brand">MizTech</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
          <div class="save-icon">
            <a href="#"><i class="lni-heart-filled"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="jobs-latest">
          <div class="img-thumb">
            <%= image_tag("features/img2.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">UI Designer</a></h3>
            <p class="brand">Hunter Inc.</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="part-time">Part Time</span>
          </div>
          <div class="save-icon">
            <a href="#"><i class="lni-heart-filled"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="jobs-latest">
          <div class="img-thumb">
            <%= image_tag("features/img3.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Web Developer</a></h3>
            <p class="brand">MagNews</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
          <div class="save-icon">
            <a href="#"><i class="lni-heart-filled"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="jobs-latest">
          <div class="img-thumb">
            <%= image_tag("features/img4.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">UX Designer</a></h3>
            <p class="brand">AmazeSoft</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
          <div class="save-icon">
            <a href="#"><i class="lni-heart-filled"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="jobs-latest">
          <div class="img-thumb">
            <%= image_tag("features/img5.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Digital Marketer</a></h3>
            <p class="brand">Bingo</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="part-time">Part Time</span>
          </div>
          <div class="save-icon">
            <a href="#"><i class="lni-heart-filled"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="jobs-latest">
          <div class="img-thumb">
            <%= image_tag("features/img6.png") %>
          </div>
          <div class="content">
            <h3><a href="job-details.html">Web Developer</a></h3>
            <p class="brand">MagNews</p>
            <div class="tags">
              <span><i class="lni-map-marker"></i> New York</span>
              <span><i class="lni-user"></i>John Smith</span>
            </div>
            <span class="full-time">Full Time</span>
          </div>
          <div class="save-icon">
            <a href="#"><i class="lni-heart-filled"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-4">
        <a href="job-page.html" class="btn btn-common">Browse All Jobs</a>
      </div>
    </div>
  </div>
</section>

<section class="how-it-works section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">How It Works?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br>
         metus effici turac fringilla lorem facilisis.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
        <div class="work-process">
          <span class="process-icon">
            <i class="lni-user"></i>
          </span>
          <h4>Create an Account</h4>
          <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="work-process step-2">
          <span class="process-icon">
            <i class="lni-search"></i>
          </span>
          <h4>Search Jobs</h4>
          <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="work-process step-3">
          <span class="process-icon">
            <i class="lni-cup"></i>
          </span>
          <h4>Apply</h4>
          <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="download" class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-xs-12">
        <div class="download-wrapper">
          <div>
            <div class="download-text">
              <h4>Download Our Best Apps</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et metus effici turac fringilla lorem facilisis, Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="app-button">
              <a href="#" class="btn btn-border"><i class="lni-MizTech"></i>Download <br>
                <span>From MizTech Store</span></a>
              <a href="#" class="btn btn-common btn-effect"><i class="lni-android"></i> Download <br>
                <span>From Play Store</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-xs-12">
        <div class="download-thumb">
          <%= image_tag("app.png") %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/footer"%>

<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>
