<%= render "layouts/header" %>
<section id="content" class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6 col-xs-12">
        <div class="page-login-form box">
          <h3>Login</h3>

          <form class="login-form">
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-user"></i>
                <input type="text" id="sender-email" class="form-control" name="email" placeholder="Username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-lock"></i>
                <input type="password" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Keep Me Signed In</label>
            </div>

            <button class="btn btn-common log-btn">Submit</button>
          </form>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>
            <div class="field">
            </div>

             <div class="form-group">
              <div class="input-icon">
                <i class="lni-user"></i>
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-icon">
                <i class="lni-lock"></i>
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
              </div>

            <% if devise_mapping.rememberable? %>
            <div class="form-group form-check">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <button class="btn btn-common log-btn"><%= f.submit "Log in" %></button>
          <% end %>

          <ul class="form-links">
            <li class="text-center"><a href="register.html">Don't have an account?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<%= render "layouts/footer" %>
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>
