<div class="card_ava">
  <div class="box">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"><%= t"candidate_profile" %></h5>
      <button type="button" class="close" data-dismiss="modal" aria-badge="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container2">
        <div class="d-flex justify-content-center h-100">
          <div class="image_outer_container">
            <div class="image_inner_container">
              <% if @candidate.avatar.attached? %>
                <%= image_tag(@candidate.avatar)%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <h2><%= @candidate.name %><br>
        <span><%= @candidate.specialty %></span></h2>
      <span><strong>Skills: </strong></span>
      <% @skills.each do |skill| %>
        <span class="badge badge-success"><%= skill.tag %></span>
      <% end %>
      <p><%= @candidate.objective %></p>
      <span>
        <ul>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </span>
    </div>
  </div>
</div>
