<p id="notice"><%= notice %></p>
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-header">
          <h3><%= t(".profile") %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <%= render ("layouts/candidate_sidebar")%>
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="inner-box my-resume">
          <div class="author-resume">
            <div class="thumb">
              <%= image_tag("resume/img-1.png")%>
            </div>
            <div class="author-info">
              <h3><%= @candidate.name %></h3>
              <p class="sub-title">UI/UX Designer</p>
              <p><span class="address"><i class="lni-map-marker"></i><%= @candidate.address %></span>, <strong><%= @candidate.city %></strong> <span><i class="ti-phone"></i>(+01) 211-123-5678</span></p>
              <div class="social-link">
                <a href="#" class="Twitter"><i class="lni-twitter-filled"></i></a>
                <a href="#" class="facebook"><i class="lni-facebook-filled"></i></a>
                <a href="#" class="google"><i class="lni-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="lni-linkedin-fill"></i></a>
              </div>
            </div>
          </div>
          <div class="about-me item">
            <h3><%= t(".aboutme") %></h3>
            <p><%= @candidate.objective %></p>
          </div>
          <div class="work-experence item">
            <h3><%= t(".experience") %></h3>
            <h4>UI/UX Designer</h4>
            <h5>Bannana INC.</h5>
            <span class="date">Fab 2017-Present(5year)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vero, dolores, officia quibusdam architecto sapiente eos voluptas odit ab veniam porro quae possimus itaque, quas! Tempora sequi nobis, atque incidunt!</p>
            <br>
            <h4>UI Designer</h4>
            <h5>Whale Creative</h5>
            <span class="date">Fab 2017-Present(2year)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vero, dolores, officia quibusdam architecto sapiente eos voluptas odit ab veniam porro quae possimus itaque, quas! Tempora sequi nobis, atque incidunt!</p>
            <p><a href="#">4 Projects</a></p>
          </div>
          <div class="education item">
            <h3><%= t(".skill") %></h3>
            <h4>Massachusetts Institute Of Technology</h4>
            <p>Bachelor of Computer Science</p>
            <span class="date">2010-2014</span>
            <br>
            <h4>Massachusetts Institute Of Technology</h4>
            <p>Bachelor of Computer Science</p>
            <span class="date">2010-2014</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
