<%= render "layouts/header" %>
<section id="content" class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="page-login-form box">
          <h3>
            <%= t("create_company") %>
          </h1>
          <%= form_for(@company, html: {class: "login-form" }) do |f| %>
          <div class="row">
              <div class="col-md-6 col-xs-6 col-lg-6">
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-user"></i>
                <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: t("company_name") %>
              </div>
            </div>
            </div>

            <div class="col-md-6 col-xs-6 col-lg-6">
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-user"></i>
                <%= f.text_field :address, autofocus: true, class: "form-control", placeholder: t("address") %>
              </div>
            </div>
            </div>
            </div>

          <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6">
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-user"></i>
                <%= f.text_field :city, autofocus: true, class: "form-control", placeholder: t("city") %>
              </div>
            </div>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6">
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-user"></i>
                <%= f.text_field :country, autofocus: true, class: "form-control", placeholder: t("country") %>
              </div>
            </div>
            </div>
            </div>
            <div class="col-md-0 col-xs-0 col-lg-0">
                <div class="form-group">
                  <div class="input-icon">
                    <i class="lni-user"></i>
                    <%= f.text_area :description, class: "form-control", placeholder: t("company_description") %>
                  </div>
                </div>
            </div>

            <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6">
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-user"></i>
                <%= f.text_field :scale,id: "input_scale", class: "form-control", placeholder: t("scale")  %>
              </div>
            </div>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6">
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-user"></i>
                <%= f.text_field :website, class: "form-control", placeholder: t("company_website") %>
              </div>
            </div>
            </div>
            </div>
            
            <div class="actions">
              <%= f.submit "Create company", class: "btn btn-common log-btn" %>
            </div>
            <p class="text-center">
            <%= link_to( t("already_have_company"), new_user_session_path, method: :get) %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
