<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-header">
          <h3><%= @company.name %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="about-content">
          <h3>About <%= @company.name %></h3>
            <p><i class="fa fa-map-marker fa-fw green-icon"></i> <%= @company.address %></p>
            <p><i class="fa fa-group fa-fw green-icon"></i> <%= @company.scale.to_s + t("employees") %></p>
            <p><i class="fa fa-internet-explorer fa-fw green-icon"></i> <%= @company.website %></p>
            <p><i class="fa fa-book fa-fw green-icon"></i> <%= @company.description %></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <% if @company.logo.attached? %>
        <%= image_tag(@company.logo, class: "img-fluid float-right", style: "width:250px; height:250px") %>
        <% else %>
        <%= image_tag("about/img1.jpg", class: "img-fluid float-right", style: "width:250px; height:250px") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<section id="job-listings" class="section bg-cyan">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title"><%= @company.name.to_s + t("company_job") %></h2>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <% @jobs.each do |job| %>
          <a class="job-listings" href="<%= job_path(job.id) %>">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="job-company-logo">
                  <% if job.company_logo.attached? %>
                    <%= image_tag(job.company_logo, class: "job-icon")%>
                  <% else %>
                    <%= image_tag 'features/default.png', class: "job-icon" %>
                  <% end%>
                </div>
                <div class="job-details">
                  <h3><%= truncate(job.title, length: 27) %></h3>
                  <span class="company-neme">
                    <%= job.company_name %>
                  </span>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-xs-12 text-center">
                <span class="btn-open">
                  <%= job.quantity.to_s + t("open_position") %>
                </span>
              </div>
              <div class="col-lg-2 col-md-2 col-xs-12 text-right">
                <div class="location">
                  <i class="lni-map-marker"></i> <%= job.workplace %>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-xs-12 text-right">
                <span class="btn-full-time"><%= job.category_name %></span>
              </div>
              <div class="col-lg-2 col-md-2 col-xs-12 text-right">
                <span class="btn-apply"><%= t "view_detail" %></span>
              </div>
            </div>
          </a>
        <% end%>
      </div>
      <div class="col-12 text-center mt-4">
        <%= link_to t("browse_jobs"), search_path, class: "btn btn-common" %>
      </div>
    </div>
  </div>
</section>

<section id="counter" class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="counter-box">
          <div class="icon"><i class="lni-home"></i></div>
          <div class="fact-count">
            <h3><span class="counter">800</span></h3>
            <p>Jobs Posted</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="counter-box">
          <div class="icon"><i class="lni-briefcase"></i></div>
          <div class="fact-count">
            <h3><span class="counter">80</span></h3>
            <p>All Companies</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="counter-box">
          <div class="icon"><i class="lni-pencil-alt"></i></div>
          <div class="fact-count">
            <h3><span class="counter">900</span></h3>
            <p>Resumes</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="counter-box">
          <div class="icon"><i class="lni-save"></i></div>
          <div class="fact-count">
            <h3><span class="counter">1200</span></h3>
            <p>Applications</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/howitwork"%>
<script>
  $('.counter').counterUp({
      delay: 10,
      time: 2000,
      offset: 70,
      beginAt: 100,
      formatter: function (n) {
        return n.replace(/,/g, '.');
      }
  });
</script>
