<div class="col-lg-4 col-md-4 col-xs-12">
  <div class="right-sideabr">
    <h4><%= t("manage_account") %></h4>
    <ul class="list-item">
      <li><%= link_to t("my_profile"), candidate_path(id: current_user.profile), method: :get %></li>
      <li><%= link_to t("update_profile"), candidate_edit_profile_path(id: current_user.profile), method: :get %></li>
      <li><%= link_to t("update_experience"), edit_candidate_path(id: current_user.profile), method: :get %></li>
      <li><%= link_to t("update_skill"), edit_candidate_path(id: current_user.profile), method: :get %></li>
      <li><%= link_to t("bookmark"), candidate_path(id: current_user.profile)%> <span class="notinumber">2</span></li>
      <li><%= link_to t("change_password"), candidate_path(id: current_user.profile) %></li>
      <li><%= link_to t("signout"), destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
