<section class="category section bg-gray">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title"><%= t (".category") %></h2>
      <p><%= t (".category_description") %></p>
    </div>
    <div class="row">
    
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-1">
            <i class="lni-keyboard"></i>
          </div>
          <h3><%= @categories[0].name %></h3>
          <p>(4286 jobs)</p>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-2">
            <i class="lni-world"></i>
          </div>
          <h3><%= @categories[1].name %></h3>
          <p>(2000 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-3">
            <i class="lni-book"></i>
          </div>
          <h3><%= @categories[2].name %></h3>
          <p>(1450 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-4">
            <i class="lni-display"></i>
          </div>
          <h3><%= @categories[3].name %></h3>
          <p>(5100 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-5">
            <i class="lni-brush"></i>
          </div>
          <h3><%= @categories[4].name %></h3>
          <p>(5079 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-6">
            <i class="lni-heart"></i>
          </div>
          <h3> <%= @categories[5].name %></h3>
          <p>(3235 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-7">
            <i class="lni-funnel"></i>
          </div>
          <h3><%= @categories[6].name %></h3>
          <p>(1800 jobs)</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a href="browse-jobs.html">
          <div class="icon bg-color-8">
            <i class="lni-dinner"></i>
          </div>
          <h3><%= @categories[7].name %></h3>
          <p>(4286 jobs)</p>
        </a>
      </div>
    </div>
  </div>
</section>
