<div class="col-lg-3 col-md-3 col-xs-12">
  <div class="right-sideabr">
    <h4><%= t("manage_company") %></h4>
    <ul class="list-item">
      <li><%= link_to t("notifications"), company_notifications_path(id: current_user.profile), method: :get , class: "active" %><span class="notinumber">2</span></li>
      <li><%= link_to t("update_company_profile"), edit_company_path(id: current_user.profile), method: :get %></li>
      <li><%= link_to t("manage_job"), company_edit_job_path(id: current_user.profile), method: :get %></li>
      <li><%= link_to t("manage_interview"), candidate_edit_experience_path(id: current_user.profile), method: :get %></li>
      <li><%= link_to t("signout"), destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
