<footer>
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 col-xs-12">
          <div class="widget">
            <div class="footer-logo">
              <%= image_tag("logo-footer.png") %>
            </div>
            <div class="textwidget">
              <p><%= t ("quote") %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-3 col-xs-12">
          <div class="widget">
            <h3 class="block-title"><%= t ("quick_link") %></h3>
            <ul class="menu">
              <li><a href="#"><%= t ("signin") %></a></li>
              <li><a href="#"><%= t ("signup_as_company") %></a></li>
              <li><a href="#"><%= t ("signup_as_candidate") %></a></li>
              <li><a href="#"><%= t ("how_it_works") %></a></li>
            </ul>
            <ul class="menu">
              <li><a href="#"><%= t ("job") %></a></li>
              <li><a href="#"><%= t ("company") %></a></li>
              <li><a href="#"><%= t ("blog") %></a></li>
              <li><a href="#"><%= t ("contact") %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <div class="widget">
            <h3 class="block-title"><%= t ("subscribe") %></h3>
            <p><%= t ("subscribe_content") %></p>
            <ul class="mt-3 footer-social">
              <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
              <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
              <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
              <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info text-center">
            <p>Developed by <a href="https://www.facebook.com/leehieeu.lee" rel="nofollow">Trong Hieu Le</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>