<!DOCTYPE html>
<html>
  <head>
    <title>Beans Connecta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>
    <%= render "layouts/header" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", media: "all" %>
  </head>

  <body>
    <div>
      <div id= "flash-messages">
        <%= flash_messages %>
      </div>
      <%= yield %>
    </div>
    <%= render "layouts/footer"%>
    <%= javascript_include_tag "custom"%>

    <a href="#" class="back-to-top">
      <i class="lni-arrow-up"></i>
    </a>
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
  </body>
</html>
