<!DOCTYPE html>
<html>
  <head>
    <title>Beans Connecta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %> 
  </head>

  <body>
    <%= render "layouts/header" %>
    <div>
    <div id= "flash-messages">
    <%= flash_messages %>
    </div>
    <%= yield %>
    <%= render "layouts/footer"%>
    </div>
    <%= javascript_include_tag "application", media: "all", "data-turbolinks-track": "reload"%>
  </body>
</html>
